.c-boton{
    margin-left: 5px;
    border-radius: 10px;
    background-color: #298DFF;
}

.barra-quieta{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #9C6400;
    /* width: 103vw; */
}

body{
    background-color: #FFD487;
}
html,body{
    min-width: 100%;
}
.todo{
    max-width: 100%;
    margin-right: 0px;
}
.l-horizontal{
    flex-direction: row;
}
.ancho-comensales{
    width: 40px;
}
.prueba{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prueba-columna{
    margin-left: 0px;
    margin-right: 0px;
}
.sin-bordes{
    border: none;
    background-color: #B7D8FE;
}
@media only screen and (max-width: 600px)  {
    #busqueda{
        width: 90px;
    }
    .columna-doble{
        display: grid;
        grid-template-columns: repeat(2, 200px);
        justify-content: center;
    }
 .micol{
        gap: 0px;
    }
}